.about {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.about-card {
  max-width: 900px;
  padding: 60px;
  text-align: left;
}

/* HEADER */
.about-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

/* PHOTO */
.photo-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 6px;

  background: linear-gradient(135deg, var(--pink), var(--violet));
  box-shadow: 0 0 40px rgba(255, 78, 205, 0.8);
}

.photo-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

/* TEXT */
.about-card h1 {
  font-size: 2.6rem;
  background: linear-gradient(90deg, var(--pink), var(--violet));
    background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about-card p {
  margin-bottom: 20px;
  line-height: 1.8;
  opacity: 0.9;
}

.quote {
  margin-top: 40px;
  font-style: italic;
  opacity: 0.7;
  text-align: center;
}


/* CERTIFICATIONS SECTION */
.certifications {
  margin-top: 50px;
}

.certifications h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  background: linear-gradient(90deg, var(--pink), var(--violet));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.certifications ul {
  padding-left: 20px;
}

.certifications li {
  margin-bottom: 20px;
  line-height: 1.7;
  opacity: 0.9;
}

.certifications li p {
  margin-top: 8px;
  opacity: 0.8;
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .glass-card,
  .skills-card,
  .about-card,
  .contact-card {
    padding: 32px;
    border-radius: 28px;
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.95rem;
  }
}

