.home {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  max-width: 720px;
}

.hero h1 {
  font-size: 3.5rem;
  background: linear-gradient(90deg, var(--pink), var(--violet));
      background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero h1 span {
  opacity: 0.85;
}

.hero h2 {
  margin-top: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  opacity: 0.85;
}

.hero p {
  margin-top: 25px;
  line-height: 1.7;
  opacity: 0.85;
}

.hero-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 14px 36px;
  border-radius: 40px;
  text-decoration: none;

  background: linear-gradient(90deg, var(--pink), var(--purple));
  color: white;
  font-weight: 600;

  box-shadow: 0 0 40px rgba(255, 78, 205, 0.9);
  transition: transform 0.3s, box-shadow 0.3s;
}

.hero-btn:hover {
  transform: scale(1.12);
  box-shadow: 0 0 70px rgba(255, 78, 205, 1);
}

@media (max-width: 768px) {
  .glass-card,
  .skills-card,
  .about-card,
  .contact-card {
    padding: 32px;
    border-radius: 28px;
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.95rem;
  }
}
