.projects-page {
  padding: 80px;
  text-align: center;
}

.projects-page h1 {
  font-size: 2.8rem;
  margin-bottom: 60px;
  background: linear-gradient(90deg, var(--pink), var(--violet));
    background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* FEATURED */
.featured-wrapper {
  margin-bottom: 80px;
}

.project-card {
  padding: 40px;
  border-radius: 26px;
  text-align: left;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.28),
    rgba(255, 255, 255, 0.06)
  );

  backdrop-filter: blur(35px) saturate(180%);
  border: 1px solid var(--glass-border);

  box-shadow: 0 0 50px rgba(157, 78, 221, 0.6);
  transition: transform 0.4s, box-shadow 0.4s;
}

.project-card.featured {
  padding: 60px;
  box-shadow: 0 0 90px rgba(255, 78, 205, 0.9);
  transform: scale(1.02);
}

.project-card:hover {
  transform: translateY(-12px) scale(1.04);
  box-shadow: 0 0 80px rgba(255, 78, 205, 1);
}

.project-card h3 {
  font-size: 1.8rem;
  margin-bottom: 18px;
}

.project-card.featured h3 {
  font-size: 2.3rem;
}

.description {
  opacity: 0.85;
  margin-bottom: 25px;
}

.highlights {
  list-style: none;
  margin-bottom: 25px;
}

.highlights li {
  margin-bottom: 10px;
  opacity: 0.9;
}

.tech span {
  display: inline-block;
  margin: 6px 8px 0 0;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.15);
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}


@media (max-width: 768px) {
  .projects-page {
    padding: 40px 20px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .project-card {
    padding: 30px;
    border-radius: 26px;
  }
}
