.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;

  background: radial-gradient(circle, var(--pink), var(--purple));
  box-shadow: 0 0 25px var(--pink);
  transform: translate(-50%, -50%);
}
